
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Layout/_Custom.cshtml";
}

<h2>Error</h2>

<p>@ViewBag.DbExceptionMessage</p>

<p>@ViewBag.EntityCode</p>
<p>@ViewBag.EntityExceptionMessage</p>

<p>@ViewBag.SqlExceptionNumber</p>
<p>@ViewBag.SqlExceptionMessage</p>

<p>@ViewBag.ExceptionMessage</p>

<p>@Html.ActionLink("Back to List", "Index")</p>

