@model MVC0208.Models.ViewCountriesCities
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetView</title>
</head>
<body>
    <h2>Countries</h2>
    <ul>
        @foreach(var item in Model.Countries)
        {
            <li>@item.Name</li>
        }
    </ul>
    <div> 
        Today's date: @DateTime.Now
    </div>
    <h2>Countries</h2>
    <ul>
        @foreach(var item in Model.Cities)
        {
            <li>@item.Name</li>
        }
    </ul>
    <section>
        @Html.Action("Cities","Cities")
    </section>
    <footer>
        @Html.Partial("~/Views/_Footer.cshtml")
    </footer>
</body>
</html>
