<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgrouhp>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
        <h3>@ViewBag.ExceptionMessage</h3>

        <h3>@ViewBag.DbExceptionMessage</h3>

        <h3>@ViewBag.EntityCode</h3>
        <h3>@ViewBag.EntityExceptionMessage</h3>

        <h3>@ViewBag.SqlExceptionNumber</h3>
        <h3>@ViewBag.SqlExceptionMessage</h3>

    </hgrouhp>
</body>
</html>
