@model IEnumerable<SerenaLiao_MVC.Models.Patients>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_Custom.cshtml";
}

<h2>Patients List</h2>
<p>@Html.ActionLink("Add Patient", "Add", "Serena")</p>
<div>
@foreach (var item in Model)
{
    <div>
        <h3>@item.Patient_Id - @item.Patient_First_Name @item.Patient_Last_Name</h3>
        <p>Date of Birth: @item.Patient_Date_Of_Birth.ToShortDateString()</p>
        <p>Gender: @item.Patient_Gender</p>
        <p>Email: @item.Patient_Email</p>
        <p>Phone Number: @item.Patient_Phone</p>
        <p>Address: @item.Patient_Address , @item.Patient_PostCode</p>
        <div>
            <span>@Html.ActionLink("Edit", "Update", "Serena", new { id = item.Patient_Id }, null)</span>
            <span>@Html.ActionLink("Delete", "Delete", "Serena", new { id = item.Patient_Id }, null)</span>
        </div>
    </div>
}
</div>


