@model ImageRepo.Models.Images_Table

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Images_Table</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Img_Filename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img_Filename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Caption_Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caption_Text)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
